BOT_CONFIG__TOKEN='TOKEN'
BOT_CONFIG__DB__ECHO=0
BOT_CONFIG__SUPER_ADMINS=[154276194]
BOT_CONFIG__PROXY__PROTO=''
BOT_CONFIG__PROXY__HOST=''
BOT_CONFIG__PROXY__PORT=''
BOT_CONFIG__PROXY__LOGIN=''
BOT_CONFIG__PROXY__PASSWORD=''
BOT_CONFIG__PROXY__USE_PROXY=0